@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "remixicon";
  src: url('remixicon.eot?t=1708865856766'); /* IE9*/
  src: url('remixicon.eot?t=1708865856766#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("remixicon.woff2?t=1708865856766") format("woff2"),
  url("remixicon.woff?t=1708865856766") format("woff"),
  url('remixicon.ttf?t=1708865856766') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('remixicon.svg?t=1708865856766#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}

:root{
  --primary-color: #ff0147;
  --secondary-color: #212429;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}


 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html {
    overflow-x: hidden;
    overflow-y: auto;
 }

body {
    font-family: "Poppins", sans-serif;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
 }

 header .container{
    max-width: 79rem;
    margin: 25px auto; 
    position: relative;
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
 }

 .logo{
   display: flex;
   justify-content: space-between;
 }

 .container img{
    width: 60px;
    height: 50px;
    margin: 0 auto;
    padding-right: 10px;
 }

 .logo h1, img{
    color: white;
    cursor: pointer;
 }


 .links ul{
   display: flex;
   align-items: center;
   list-style: none;
 }

 .links a{
   display: inline-block;
   color: white;
   text-decoration: none;
   margin: 15px;
   font-size: 20px;
   transition: color 0.6s ease;
 }

 .links a:hover{
   color: #ff3232;
 }

 .pic{
   margin: 30px;
   float: right;
   }

.bar{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 100px;
  left: 90px;
}


.bar hr {
  width: 50%;
  size: 7;
  color: white;
  height: 5px;
  background-color: white;
}

.bar h2{
  color: var(--primary-color);
  font-size: 1.8rem;
  position: relative;
  bottom: 17px;
  margin: 0;
  font-weight: normal;
}

.header2{
  position: relative;
  top: 90px;
  margin: 0;
  left: 97px;
  max-width: 50rem;
}

.header2 h3{
  font-size: 75px;
  color: var(--white);
  white-space: nowrap;
}

.header3{
  position: relative;
  display: flex;
  top: 85px;
  margin: 0;
  left: 97px;
  max-width: 50rem;
}

.header3 h4{
  font-size: 70px;
  color: var(--primary-color);
}

.header3 h5{
  font-size: 30px;
  margin-left: 20px;
  color: var(--white);
  margin-top: 40px;
  font-weight: normal;
}

.captions{
  position: relative;
  max-width: 30rem;
  top: 90px;
  margin: 0;
  left: 97px;
}

.captions p{
  color: var(--text-light);
}

.btn{
  position: relative;
  top: 150px;
  left: 97px;
  width: 170px;
  height: 60px;
  border-radius: 40px;
  background-color: var(--primary-color);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  transition: color 0.6s ease;
}

.btn:hover{
  background-color: var(--white);
  color: var(--primary-color);
}


.icons{
  position: relative;
  top: 220px;
  left: 100px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  max-width: 50rem;
  gap: 25px;
}



.icons button{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: black;
  border: none;
  opacity: 0.3;
  border-radius: 25px;
}

.fa-twitter{
  color: #00e7f6;
}

.fa-facebook{
  color: #3500FA;
}

.fa-youtube{
  color: #fa0000;
}

.facebook::hover{
  color: black;
}

.twitter::hover{
  opacity: 0.9;
}

.youtube::hover{
  opacity: 0.9;
}
